body {
	background: #f8f8f8;
}
/* 
	комментарий
	 */
	 
li.main {
	color: #ff0d0d;
}

@font-face {
	font-family: "Roboto";
	src: url("../Roboto-Regular.ttf");
}
h1 {
	font-family: "Roboto", sans-serif;
}